body {
    background-color: white;
    color: rgb(83, 83, 83);
}

.taustat-etusivu {
    background-color: rgb(204, 204, 204);
    padding-top: 20px;
    margin-bottom: 30px;
}

.otsikko {
    text-align: center;
    padding-top: 20px;
    font-size: 50px;
    color: chocolate;
}

.yhteystiedot-alaotsikko {
    color: chocolate;

}

.header {
    padding: 30px;
    text-align: center;
    background: #d3f3ed;
    color: rgb(90, 56, 56);
    font-size: 30px;
}

header {
    xbackground-color: rgb(204, 204, 204);

}
footer {
    background-color: burlywood;
    position: relative;
    bottom: 0px;
    height: 25px;
    text-align: center;
    color: black;
    font-size: 13px;

}

.alaotsikko {
    text-align: center;
    font-size: 14px;
    color: rgb(216, 140, 85);
}

.hviisi {
    text-align: center;
    font-size: 22px;
    color: rgb(216, 140, 85);
}

hr.line {
    border-top: 2px solid black;
}

hr.line-kaksi {
    border-top: 1px solid black;
}

.topnav {

    position: relative;
    width: 100%                                     ;
    background-color: burlywood;
    overflow: hidden;
    padding-top: 5px;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    size: 20px; 
}

.topnav a:hover {
    color: rgb(90, 48, 17);
}

.topnav a.active {
    color: black;
}

.topnav a.active-tarjous {
    color: rgb(90, 48, 17);
}

.lomake {
    background-color: burlywood;
    color: rgb(83, 83, 83);
}

a.navtarjous {
    font-weight: bold;
    color: rgb(90, 48, 17);
}

@media screen and (max-width: 600px) {
    .topnav a, .topnav-right {
      float: none;
      display: block;
    }
  
  }